{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint",
  "rules": {
    "no-extra-parens": 2,
    "no-unexpected-multiline": 2,

    "dot-location": [2, "property"],

    "strict": [2, "safe"],

    "no-catch-shadow": 2,

    "func-style": [2, "expression"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "linebreak-style": 2,
    "no-multiple-empty-lines": 2,
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single", "avoid-escape"],
    "space-before-function-paren": [2, "always"],
    "space-in-parens": 2,

    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": 2,
    "no-confusing-arrow": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2
  }
}
