doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title icojs - egy186.github.io
    meta(name='author', content='egy186')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js', defer='')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', defer='')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js', defer='')
    script(src=`https://unpkg.com/icojs@${version}/dist/ico.js`, defer='')
    script(src='demo.js', defer='')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/github.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css')
    style.
      header h1 a { font-size: 72px; color: inherit; text-decoration: none; }
      header h1 a:hover { text-decoration: none; }
  body.container(data-spy='scroll', data-target='#nav')
    div.row
      header.col-md-12
        h1
          a(href='./') icojs
          |  
          small.text-muted=`v${version}`
        p.lead A JavaScript library to use ICO.
        p
          small
            a(href='https://www.npmjs.com/package/icojs', title='npm')
              img(src='https://img.shields.io/npm/v/icojs.svg', alt='npm')
            |  
            a(href='https://travis-ci.org/egy186/icojs', title='Build Status')
              img(src='https://travis-ci.org/egy186/icojs.svg?branch=master', alt='Build Status')
            |  
            a(href='https://david-dm.org/egy186/icojs', title='dependencies status')
              img(src='https://david-dm.org/egy186/icojs/status.svg', alt='dependencies status')
      nav#nav.col-md-3
        h2.sr-only Table of Contents
        ul.nav.nav-pills.flex-column.pt-3.sticky-top
          li.nav-item
            a.nav-link(href='#install') Install
          li.nav-item
            a.nav-link(href='#example') Example
          li.nav-item
            a.nav-link(href='#demo') Demo
          li.nav-item
            a.nav-link(href='#api') API
      main.col-md-9
        section#install
          include:markdown-it(html) install.md
        section#example
          include:markdown-it(html) example.md
        section#demo
          h2 Demo
          p Please input ico file.
          form(action='#')
            p.input-group
              span.input-group-prepend
                button#input-file-emu.btn.btn-outline-primary Choose file
              span.custom-file
                input#input-file.custom-file-input(type='file')
                label#input-file-path.custom-file-label(for='input-file')
          section#demos-parse-results
        section#api
          include:markdown-it(html) api.md
      footer.col-md-12.text-center.border-top.mb-4.pt-3
        p
          | Source code on GitHub: 
          a(href='https://github.com/egy186/icojs') egy186/icojs
