doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title icojs - egy186.github.io
    meta(name='author', content='egy186')
    meta(name='viewport', content='width=device-width,user-scalable=no,initial-scale=1')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js', defer='')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js', defer='')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js', defer='')
    script(src=`https://unpkg.com/icojs@${version}/dist/ico.js`, defer='')
    script(src='demo.js', defer='')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/github.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
    style.
      .hljs { background: transparent; padding: 0; }
      header h1 a { font-size: 72px; color: inherit; text-decoration: none; }
      header h1 a:hover { text-decoration: none; }
      nav { margin-top: 20px; }
      footer { border-top: 1px solid #eee; margin: 40px 0; }
      footer :first-child { margin-top: 20px; }
  body.container
    div.row
      header.col-md-12
        h1
          a(href='./') icojs
          |  
          small=`v${version}`
        p.lead A JavaScript library to use ICO.
        p
          small
            a(href='https://www.npmjs.com/package/icojs', title='npm version')
              img(src='https://img.shields.io/npm/v/icojs.svg', alt='npm version')
            |  
            a(href='https://travis-ci.org/egy186/icojs', title='Build Status')
              img(src='https://img.shields.io/travis/egy186/icojs.svg', alt='Build Status')
            |  
            a(href='https://david-dm.org/egy186/icojs', title='Dependency status')
              img(src='https://img.shields.io/david/egy186/icojs.svg', alt='Dependency status')
      nav.col-md-2
        h2.sr-only Table of Contents
        ul.nav.nav-pills.nav-stacked
          li
            a(href='#install') Install
          li
            a(href='#example') Example
          li
            a(href='#demo') Demo
          li
            a(href='#documentation') Documentation
      main.col-md-10
        section#install
          h2.page-header Install
          include:markdown-it(html) install.md
        section#example
          h2.page-header Example
          include:markdown-it(html) example.md
        section#demo
          h2.page-header Demo
          p Please input ico file.
          form.tab-content.form-horizontal(action='#')
            label(for='input-file', style='display: none;') File:
            input#input-file(style='display: none;', type='file')
            p.input-group.input-group-lg
              span.input-group-btn
                button#input-file-emu.btn.btn-primary
                  span.glyphicon.glyphicon-folder-open
                  |  Browse...
              span#input-file-path.form-control
          section#demos-parse-results
        section#documentation
          h2.page-header Documentation
          include:markdown-it(html) documentation.md
      footer.col-md-12.text-center
        p
          | Source code on GitHub: 
          a.lead(href='https://github.com/egy186/icojs') egy186/icojs
