/* Reset */
input {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}

body {
  background: #fff;
  color: #222;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}

@media (max-width: 992px) { /* col-md */
  .affix {
    position: static;
  }
}

/* Overwrite */
.hljs {
  background: transparent;
  padding: 0;
}

/* Main */
#page > header {
  padding: 40px 0;
  font-family: 'Titillium Web', sans-serif;
}

  #page > header h1 {
    margin: 0;
  }

    #page > header h1 a {
      font-size: 72px;
      color: inherit;
      text-decoration: none;
    }

  #page > header p {
    margin: 20px 0 0;
  }

#page > footer {
  margin-top: 20px;
  border-top: 2px solid #eee;
  padding: 20px 0 40px;
  font-family: 'Titillium Web', sans-serif;
}

  #page > footer small {
    font-size: 14px;
  }

@media (min-width: 992px) { /* col-md */
  #requirements > h2 {
    margin-top: 0;
  }
}
